<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="OHRM Suite" data-provider-thread-count="3">
    <listeners>
        <listener class-name="com.fwork.listeners.AllureListener"/>
    </listeners>
    <test thread-count="2" name="Test Basics 1" parallel="methods">
        <parameter name="emailid" value="tester456@gmail.com"/>
        <parameter name="password" value="test@123"/>
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.fwork.tests.OHRMLeaveTest">
             <methods>
                 <include name="addLeavesForAnEmployee" />
                 <exclude name="approveLeaveTest" />
             </methods>
             </class>
              <class name="com.fwork.tests.OMayoTest">
                  <methods>
                      <exclude name="checkColumnSort" />
                      <exclude name="omayoTest" />
                  </methods>

              </class>
  </classes>
</test> <!-- Test -->

</suite> <!-- Suite -->